body {
	background-color: #EEE;
}

.gridster .gridster-item {
	position: absolute !important;
	background-color: #FFF;
	box-shadow: 0 0 5px rgb(5, 5, 5);
}

.resizingMode {
	border: 2px dashed #000;
	opacity: 0.3;
}
.resizingMode * {
	display: none;
}

.k-chart {
	height: 100% !important;
	width: 100% !important;
}

.k-sparkline {
	width: 100% !important;
	line-height: 50px !important;
	height: 50px !important;
	padding: 0;
}
.k-sparkline svg {
	height: 50px !important;
}
